body,html {
    height: 100%
}
:root {
    --g1: #70D6FF;
    --g2: #FF70A6;
    --g3: #FF9770;
    --g4: #FFD670;
    --g5: #E9FF70;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Ubuntu,Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* bookends a double dose of gradient 1 color to allow for animation to loop without jaring gradient jumps */
    background: linear-gradient(var(--g1), var(--g2), var(--g3), var(--g4), var(--g5));
    background-size: 800% 800%;
    animation: bg-gradient 1s ease infinite;
    /* color: whitesmoke; */
}

@keyframes bg-gradient {
    0% {
        background-position: 0% 0%
    }

    50% {
        background-position: 0% 100%
    }
    
    100% {
        background-position: 0% 0%
    }
}

body div {
    text-align: center;
    font-size: 70px;
}

body .look {
    color: var(--g1)
}

body .at {
    color: var(--g2)
}

body .the {
    color: var(--g3)
}

body .pretty {
    color: var(--g4)
}

body .colors {
    color: var(--g5)
}