body,
html {
	height: 100%;
	overflow: hidden;
}

:root {
	--g1: #70d6ff;
	--g2: #ff70a6;
	--g3: #ff9770;
	--g4: #ffd670;
	--g5: #e9ff70;
}

.main-body {
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: Ubuntu, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* bookends a double dose of gradient 1 color to allow for animation to loop without jaring gradient jumps */
	background: linear-gradient(var(--g1), var(--g2), var(--g3), var(--g4), var(--g5));
	background-size: 800% 800%;
	animation: bg-gradient 15s ease infinite;
	/* color: whitesmoke; */
}

@keyframes bg-gradient {
	0% {
		background-position: 0% 0%;
	}

	50% {
		background-position: 0% 100%;
	}

	100% {
		background-position: 0% 0%;
	}
}

div {
	text-align: center;
	font-size: 70px;
}

.spacers {
	margin: 10px;
}

div .center {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 100vh;
	vertical-align: middle;
	margin-top: -5%;
}

.coin-link {
	position: absolute;
	width: 100px;
	height: 100px;
	background-color: goldenrod;
	background-size: 150%;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	display: inline-block;
	transition: transform 0.3s ease;
	z-index: 999;
}

.coin-link:hover {
	transform: scale(1.1);
}

.center {
	text-align: center;
	padding-top: 2rem;
}
